body {
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.login-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: space-between;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;

    display: inline-block;
    padding: 20px 50px;
    border-radius: 50px;
    font-weight: bold;
    box-shadow: 0 5px 15px rgba(42, 245, 152, 0.3);
    transition: 0.3s;
    text-decoration: none;
    margin-top: 15px;
    align-self: flex-start;
    align-items: center;
    justify-content: center;
}

.khung-chua {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo a {
    font-size: 24px;
    font-weight: 800;
    text-decoration: none;
    color: #333;
}

.logo span {
    color: #2af598;
}

.thanh-tieu-de {
    padding: 10px 0;
    background: #fff;
    border-bottom: 1px solid #eee;

    position: sticky;
    top: 0;
    z-index: 1000;
}

.thanh-tieu-de .khung-chua {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    display: inline-block;
    padding: 20px 50px;
    background: linear-gradient(to right, #2af598, #009efd);
    color: #fff;
    border-radius: 50px;
    font-weight: bold;
    box-shadow: 0 5px 15px rgba(42, 245, 152, 0.3);
    transition: 0.3s;
    text-decoration: none;
    margin-top: 15px;
    align-self: flex-start;
    align-items: center;
    justify-content: center;
    width: 100%;
}